<div class="column">
  <p>
    {{input id="name" value=model.name}}
    <label for="name">Name</label>
  </p>
  <p style="width: calc(50% - 1.0rem)">
    {{input id="hitPoints" value=model.hitPoints type='number'}}
    <label for="hitPoints">Max. HP</label>
  </p>
  <p style="width: calc(50% - 1.0rem)">
    {{input id="armorClass" value=model.armorClass type='number'}}
    <label for="armorClass">Armor Class</label>
  </p>
</div>
<div class="column">
  <p>
    {{textarea id='notes' value=model.notes}}
    <label for="notes">Notes</label>
  </p>
</div>
