.button {

  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 $spacing-comfy;

  background: transparent;
  border: 1px solid #404040;
  border-radius: 4px;
  cursor: pointer;

  color: #808080;
  font-size: 1.6rem;
  -webkit-user-select: none;

  &.primary {
    border-color: $color-primary;
    color: $color-primary-light;
  }

  &.danger {
    border-color: #5c3535;
    color: #b34f4f;
  }

  & + & {
    margin-left: $spacing-comfy;
  }

  &.icon {
    height: 20px;
    width: 20px;
    margin-left: $spacing-normal;
    padding: 0;
    border-radius: 11px;
  }

}
