.button {

  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 $spacing-comfy;

  background: transparent;
  border: 1px solid #404040;
  border-radius: 4px;

  color: #808080;
  font-size: 1.6rem;

  &.primary {
    border-color: $color-primary;
    color: $color-primary-light;
  }

  &.danger {
    border-color: #5c3535;
    color: #b34f4f;
  }

  & + & {
    margin-left: $spacing-comfy;
  }

  td & {
    height: 22px;
    width: 22px;
    padding: 0;
    justify-content: center;

    border-radius: 100px;
  }

}
