form, .form {

  &:not(tr) {
    display: flex;
    flex-direction: column;
  }

  p:not(.sub):not(.actions) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: $spacing-comfy;
    width: 100%;
  }

  label {
    order: 1;
  }

  input, textarea, table {
    order: 2;
    background: transparent;
    outline: none;
    color: currentColor;
  }

  input {
    margin-left: $spacing-comfy;
    padding: 0 $spacing-close;
    position: relative;
    width: calc(100% - #{$spacing-comfy});

    border: none;
    border-bottom: 1px solid $color-background-bright;

    font-size: 2.2rem;
  }

  [type=number] {
    &:not(:focus)::-webkit-inner-spin-button,
    &:not(:focus)::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  textarea {
    flex-grow: 1;
    margin-left: $spacing-comfy;
    padding: $spacing-close $spacing-normal;
    resize: none;

    border: 1px solid $color-background-bright;
    border-radius: 4px;

    font-size: 1.8rem;
  }

  input:focus,
  textarea:focus {
    background-image: radial-gradient(
      ellipse 50% 1.5rem at 50% 100%,
      rgba($color-primary, 0.25),
      rgba($color-primary, 0)
    );
    border-color: $color-primary;
    color: white;

    + label {
      color: $color-primary-light;
    }
  }

  .column {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
  }

  .column + .column {
    padding-left: $spacing-comfy * 2;
  }

  &.inline {
    flex-direction: row;

    label {
      display: none;
    }

    input {

      border-color: transparent;

      &:hover {
        border-color: $color-background-bright;
      }

      &:focus {
        border-color: $color-primary;
      }
    }

    p + p {
      padding-left: $spacing-normal;
    }
  }

  ::-webkit-input-placeholder {
    color: $color-background-light;
  }
  :focus::-webkit-input-placeholder {
    color: transparent;
  }

  :-moz-placeholder {
    color: $color-background-light;
  }
  :focus:-moz-placeholder {
    color: transparent;
  }

  ::-moz-placeholder {
    color: $color-background-light;
  }
  :focus::-moz-placeholder {
    color: transparent;
  }

  :-ms-input-placeholder {
    color: $color-background-light;
  }
  :focus:-ms-input-placeholder {
    color: transparent;
  }

}
