form, .form {

  display: flex;
  flex-direction: column;
  // padding: $spacing-normal $spacing-normal 0;

  p {
    overflow: hidden;
    padding-bottom: $spacing-normal;
  }

  .actions {
    align-self: flex-end;
  }

  input {
    margin-left: $spacing-comfy;
    padding: 0 $spacing-close;

    background: transparent;
    border: none;
    border-bottom: 1px solid $color-background-bright;

    color: currentColor;
    font-size: 2.2rem;

    &:focus {
      color: $color-primary-light;
      border-color: $color-primary;
    }
  }

  &.inline {
    flex-direction: row;

    label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    input {
      width: 100%;
    }

    p + p {
      padding-left: $spacing-normal;
    }
  }

}
