use, svg * {
  fill: inherit;
  stroke: inherit;
  stroke-linecap: inherit;
  stroke-width: inherit;
  transform-origin: inherit;
  vector-effect: inherit;
}

svg.icon {
  height: 20px;
  width: 20px;

  pointer-events: none;

  fill: transparent;
  stroke: currentColor;
  stroke-width: 1px;
  stroke-linecap: round;
  transform-origin: 50%;
  vector-effect: non-scaling-stroke;
}
