:root,
body,
body > .ember-view {
  height: 100%;
}

body > .ember-view {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  align-items: center;
  height: 37px;
  justify-content: space-between;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}
