$color-foreground: #ccc;
$color-background-bright: #555;
$color-background-light:  #444;
$color-background-medium:  #222;

$spacing-normal: 1.0rem;
$spacing-close:  $spacing-normal / 2;
$spacing-comfy:  $spacing-normal * 2;
