* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:root {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  cursor: pointer;
  outline: none;
}

li {
  list-style-type: none;
}
