table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th {
  padding: $spacing-comfy $spacing-close;
  text-align: left;
}

td {
  padding: $spacing-normal 0;

  &:not(.actions) {
    padding-right: $spacing-comfy;
  }

  &.em {
    color: $color-foreground;
  }

  [type=number] {
    padding-left: $spacing-normal;
  }

}

// Encounter styles (located here because component CSS doesn't work with an
// empty `tagName`)

.row-combatant + .row-attack td,
.row-attack + .row-combatant td {
  // border-top: 1px solid $color-background-light;
}

.row-attack {
  display: none;

  font-size: 1.8rem;

  &.row-turn {
    display: table-row;
  }
}

.set-turn {
  border-color: currentColor;
  color: $color-background-light;

  .row-turn & {
    color: $color-foreground;
  }
}

.inputesque {
  padding: $spacing-close 0;
  padding-left: $spacing-normal * 2;
}
