table {
  table-layout: fixed;
  width: 100%;
}

th {
  padding: $spacing-comfy $spacing-close;
  text-align: left;
}

td {
  padding: 0 0 $spacing-comfy;

  &:not(.actions) {
    padding-right: $spacing-comfy;
  }

  &.em {
    color: $color-foreground;
  }

  [type=number] {
    padding-left: $spacing-comfy;
  }

}
