table {
  width: 100%;
}

th {
  padding: $spacing-comfy $spacing-close;

  &.em {
    text-align: left;
  }
}

td {
  padding: 0 0 $spacing-comfy;

  &.em {
    color: $color-foreground;
  }

  [type=number] {
    padding-left: $spacing-comfy;
  }

}
