table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  .h1, .h2, .h3 {
    margin: 0;
  }
}

th {
  padding: $spacing-comfy $spacing-close 0;

  &.hX {
    padding-left: 0;
  }
}

td {
  padding: $spacing-normal 0;

  &.em {
    color: $color-foreground;
  }

}
