h2, .h2 {
  color: #808080;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

label, th {
  color: #808080;
  font-size: 1.8rem;
  font-style: oblique;
  font-weight: normal;
}

td {
  color: #808080;
}

label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub {
  overflow: hidden;
  padding-right: $spacing-comfy;
  text-overflow: ellipsis;
  white-space: nowrap;
}
