:root {
  color: $color-foreground;
  font-family: $family-regular;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

h2, .h2,
h3, .h3 {
  display: flex;
  align-items: center;
  font-style: normal;
}

h2, .h2 {
  color: #808080;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

h3, .h3 {
  color: $color-foreground;
  font-size: 2.0rem;
  margin-top: $spacing-comfy;
}

p, label:not(.button), th {
  color: #808080;
  font-size: 1.8rem;
  font-style: oblique;
  font-weight: normal;
}

td {
  color: #808080;
}

label:not(.button) {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub {
  overflow: hidden;
  padding-right: $spacing-comfy;

  font-style: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}
