h2, .h2 {
  color: #808080;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

label {
  display: block;

  color: #808080;
  font-size: 1.8rem;
  font-style: oblique;
  font-weight: normal;
}
