$color-primary:     #6b43a9;
$color-primary-dim: #443064;

@import 'ms-styles/styles';

@import '_forms';
@import '_tables';
@import 'pod-styles';

.liquid-container,
.liquid-child {
  height: 100%;
  overflow: initial;
}

.liquid-main > .liquid-child {
  overflow-y: auto;
  padding: $spacing-comfy 0;
}
