<div class="sidebar">
  <header>
    <h2>Player Characters</h2>
    {{#link-to 'player-characters.new' classNames='button'}}Add{{/link-to}}
  </header>
  <ul class="content">
    {{#each model as |pc|}}
      <li>
        {{#link-to 'player-characters.details' pc.id}}{{pc.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
<div class="main">
  <div class="constrained">
    {{outlet}}
  </div>
</div>
