{{#ember-wormhole to='sidebar'}}
  <h2>
    Player Characters
    {{#link-to 'player-characters.details' 'new' class='icon'}}{{icon 'add'}}{{/link-to}}
  </h2>
  <ul>
    {{#each (sort-by 'name' (reject-by 'isNew' true model)) as |pc|}}
      <li>
        {{#link-to 'player-characters.details' pc.id}}{{pc.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
{{/ember-wormhole}}
{{liquid-outlet enableGrowth=false}}
