.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 300px;
}

.sidebar {
  background: $color-background-dark;
  box-shadow: inset -4px 0 rgba(black, 0.2);

  header {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $spacing-comfy;

    h2 {
      margin: $spacing-comfy 0;
    }
  }

  li {
    font-size: 2.2rem;
  }

  .content a {
    display: block;
    overflow: hidden;
    padding: $spacing-comfy;

    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background: $color-background-dim;
      box-shadow: inset -4px 0 rgba(black, 0.2);
    }

    &.active {
      background: $color-primary-dark;
      box-shadow: inset -4px 0 rgba(black, 0.2);
      color: white;
    }
  }

  .content {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

}
