<form {{action (route-action 'save') on='submit'}} class="traditional">
  <div class="subheader">
    <p class="sub" style="color: white; font-size: 3.2rem">
      {{if model.isNew 'Add Monster' model.name}}
    </p>
    <p class="actions">
      {{#unless model.isNew}}
        <button class="button danger" {{action (route-action 'delete' model)}}>Delete</button>
      {{/unless}}
      {{#link-to 'monsters.index' classNames='button'}}Cancel{{/link-to}}
      <button type="submit" class="button primary">Save</button>
    </p>
  </div>
  {{edit-monster name=name model=model
    onSave=(route-action 'save')
    onAddAttack=(route-action 'addAttack')}}
</form>
