<header>
  <h2>Player Character</h2>
</header>
<form {{action (route-action 'save') on='submit'}}>
  <div class="subheader">
    <p class="sub" style="color: white; font-size: 3.2rem">Add Player Character</p>
    <p class="actions">
      {{#link-to 'player-characters.index' classNames='button'}}Cancel{{/link-to}}
      <button type="submit" class="button primary">Save</button>
    </p>
  </div>
  {{edit-player-character name=name model=model onSave=(route-action 'save')}}
</form>
