{{#ember-wormhole to='sidebar'}}
  <h2>
    Monsters
    {{#link-to 'monsters.details' 'new' classNames='icon'}}{{icon 'add'}}{{/link-to}}
  </h2>
  <ul>
    {{#each (sort-by 'name' (reject-by 'isNew' true model)) as |monster|}}
      <li>
        {{#link-to 'monsters.details' monster.id}}{{monster.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
{{/ember-wormhole}}
{{liquid-outlet enableGrowth=false}}
