<div class="sidebar">
  <header>
    <h2>Monsters</h2>
    {{#link-to 'monsters.new' classNames='button'}}Add{{/link-to}}
  </header>
  <ul class="content">
    {{#each (reject-by 'isNew' true model) as |monster|}}
      <li>
        {{#link-to 'monsters.details' monster.id}}{{monster.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
<div class="main">
  <div class="constrained">
    {{outlet}}
  </div>
</div>
