<table>
  <colgroup>
    <col style="width: 32px;">
    <col style="width: 30%;">
    <col>
    <col>
    <col>
    <col style="width: 48px;">
    <col style="width: 32px;">
  </colgroup>
  <thead>
    <tr class="form subtle">
      <th colspan="2" class="label em">Combatants</th>
      <th class="label">{{icon 'heart'}}</th>
      <th class="label">{{icon 'defense'}}</th>
      <th class="label">{{icon 'initiative'}}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each combatants as |combatant|}}
      {{show-combatant model=combatant
        onDelete=(action onDelete combatant)
        onUpdate=(action onUpdate combatant)
        onSetTurn=(action onSetTurn combatant)
        onShowNotes=(action onShowNotes combatant)}}
    {{/each}}
  </tbody>
</table>
