<div class="fieldset">
  <h2 class="legend">Encounter: {{model.encounter.name}}</h2>
</div>
<ul>
  {{#each participants as |part|}}
    <li class="fieldset">
      <h3 class="legend">
        {{part.name}}
        <span {{action (route-action 'delete' part)}} style="float: right;">[Delete]</span>
      </h3>
      {{component part.template model=part onUpdate=(route-action 'saveParticipant' part)}}
    </li>
  {{/each}}
</ul>
