<h2>Encounter: {{model.name}}</h2>

<h3>Encounter Monsters</h3>
<ul>
  {{#each model.monsters as |monster|}}
    <li>
      {{show-encounter-monster model=monster onUpdate=(route-action 'saveMonster' monster)}}
      <span {{action (route-action 'delete' monster)}}>&times;</span>
    </li>
  {{/each}}
</ul>
