<div class="fieldset">
  <h2 class="legend">Encounter: {{model.name}}</h2>
</div>
<ul>
  {{#each monstersByInit as |monster|}}
    <li class="fieldset">
      <h3 class="legend">
        {{monster.name}}
        <span {{action (route-action 'delete' monster)}} style="float: right;">[Delete]</span>
      </h3>
      {{show-encounter-monster model=monster onUpdate=(route-action 'saveMonster' monster)}}
    </li>
  {{/each}}
</ul>
