<header>
  <h2>Encounter</h2>
</header>
<div class="subheader">
  <p class="sub" style="color: white; font-size: 3.2rem">{{model.encounter.name}}</p>
  <p class="actions">
    <button class="button danger" {{action (route-action 'delete' model.encounter)}}>Delete</button>
  </p>
</div>
<h2>Combatants</h2>
<table>
  <thead>
    <tr class="form inline">
      <th class="label em" style="width: 35%">Name</th>
      <th class="label">HP</th>
      <th class="label">Max. HP</th>
      <th class="label">Init.</th>
      <th class="label">AC</th>
      <th style="width: 32px;"><!-- Actions --></th>
    </tr>
  </thead>
  <tbody>
    {{#each participants as |part|}}
      {{show-combatant model=part
        onDelete=(route-action 'deleteParticipant' part)
        onUpdate=(route-action 'saveParticipant' part)}}
    {{/each}}
  </tbody>
</table>
