<div class="sidebar">
  <header>
    <h2>Encounters</h2>
    {{#link-to 'encounters.details' 'new' classNames='button'}}Add{{/link-to}}
  </header>
  <ul class="content">
    {{#each (sort-by 'name' (reject-by 'isNew' true model.encounters)) as |encounter|}}
      <li>
        {{#link-to 'encounters.details' encounter.id}}{{encounter.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
<div class="main">
  <div class="constrained">
    {{outlet}}
  </div>
</div>
