<h2>Monsters</h2>

{{#link-to 'monsters.new'}}New Monster{{/link-to}}

<ul>
  {{#each model as |monster|}}
    <li>
      {{#link-to 'monsters.details' monster.id}}{{monster.name}}{{/link-to}}
      <span {{action (route-action 'delete' monster)}}>&times;</span>
    </li>
  {{/each}}
</ul>
