<h2>Welcome to Magic Stash: Combat!</h2>
<p>Let’s get started!</p>
<a href="{{href-to 'player-characters'}}" class="button primary">Add your <em>Players’ Characters</em></a>
<a href="{{href-to 'monsters'}}" class="button primary">Create some <em>Monsters</em> for them to battle</a>
<a href="{{href-to 'encounters'}}" class="button primary">Build <em>Encounters</em> from PCs and Monsters</a>
