<h2>Welcome to Magic Stash: Combat!</h2>
<p>Let’s get started!</p>
<a href="{{href-to 'player-characters'}}" class="button primary">Add your <em>Players’ Characters</em> (PCs)</a>
<a href="{{href-to 'monsters'}}" class="button primary">Create some <em>Monsters</em> for the party to battle</a>
<a href="{{href-to 'encounters'}}" class="button primary">Build <em>Encounters</em> between PCs and Monsters</a>
<p class="de-em">You can access this screen at any time under: <em>Help &rsaquo; Welcome Guide</em></p>
