& {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 36px;
  padding: 0 $spacing-comfy;
  -webkit-app-region: drag;
  -webkit-user-select: none;

  background: $color-primary;

  color: $color-primary-light;
  font-size: 1.6rem;

  &.electron {
    padding-left: 78px;
  }

  nav {
    -webkit-app-region: no-drag;
  }
}

h1 {
  color: white;
  font-weight: 300;

  em {
    font-style: normal;
    font-weight: 600;
  }
}

nav {

  display: flex;
  align-self: stretch;
  align-items: stretch;

  font-weight: 300;

  a {
    display: flex;
    align-items: center;
    padding: 0 $spacing-normal;

    &.active {
      background-image: radial-gradient(
        ellipse 50% 1.5rem at 50% 100%,
        rgba($color-primary-light, 0.15),
        rgba($color-primary-light, 0)
      );
      box-shadow: inset 0 -1px $color-primary-light;
      color: white;
    }
  }

  a + a {
    margin-left: $spacing-close;
  }

}
