<header>
  <h2>Player Character</h2>
</header>
<form {{action (route-action 'save') on='submit'}}>
  <div class="subheader">
    <p class="sub" style="color: white; font-size: 3.2rem">{{model.name}}</p>
    <p class="actions">
      <button class="button danger" {{action (route-action 'delete' model)}}>Delete</button>
      {{#link-to 'player-characters.index' classNames='button'}}Cancel{{/link-to}}
      <button type="submit" class="button primary">Save</button>
    </p>
  </div>
  {{edit-player-character model=model onSave=(route-action 'save')}}
</form>
